*{
  box-sizing: border-box;
}

#Main{
  display: grid;
  grid-gap: 0,1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.item{
  position: relative;
  border-radius: 0.5em;
  border: thin solid black;
  background-color: #d2d2d2;
  padding: 0.5em;
}

.item:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#noticia{
color: #565656;
}

img{
  max-width: 100%
}

.button {
  display: inline-block;
  padding: 4px 8px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  margin-bottom: 1em;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}



.item_2{
  position: relative;
  border-radius: 0.5em;
  border: thin solid black;
  background-color: #d2d2d2;
  padding: 0.5em;
  margin: 0;
  color: white;
  background-image: url("img/negro.jpg");
}

.-item_2:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.texto{
  text-align: center;
}
.posicion{
  position: absolute;
  left: 5em;
  bottom: 5em;
}
.button_2 {
  display: inline-block;
  padding: 4px 8px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  margin-bottom: 1em;
  position: absolute;
  left: 0em;
  bottom:15em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.button_2:hover {background-color: #3e8e41}

.button_2:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
