*{
  box-sizing: border-box;
  border: thin solid red;
}

#Main{
  display: grid;
  grid-gap: 0,1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.item{}

h3{

}

p{

}

img{
  max-width: 100%
}
